.AnaTasiyici {
    height: 1000px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.AnaMenu {
    height: 100px;
    width: 1200px;
    background-color: red;
}

.YanMenu {
    height: 800px;
    width: 200px;
    background-color: orange;
    float: left;
}

.Icerik {
    height: 800px;
    width: 1000px;
    float: left;
}

.Icerik1 {
    height: 400px;
    width: 1000px;
}

.Icerik2 {
    height: 400px;
    width: 1000px;
}

.I1 {
    height: 400px;
    width: 500px;
    background-color: blue;
    float: left;
}

.I2 {
    height: 400px;
    width: 500px;
    background-color: purple;
    float: left;
}

.I3 {
    height: 400px;
    width: 500px;
    background-color: orangered;
    float: left;
}

.I4 {
    height: 400px;
    width: 500px;
    background-color: rebeccapurple;
    float: left;
}

.AltBisi {
    height: 100px;
    width: 1200px;
    background-color: green;
}
