.header {
    min-height: 56px;
    width: 100%;
    background-color: cadetblue;
}

.navi {
    min-height: 56px;
    width: 100%;
    background-color: lightgreen;
}

.aside {
    height: 800px;
    width: 40%;
    background-color: lightpink;
    float: left;
}

.Icerik {
    height: 800px;
    width: 60%;
    float: left;
}

.I1 {
    height: 400px;
    width: 100%;
    background-color: dodgerblue;
}

.I2 {
    height: 400px;
    width: 100%;
    background-color: seagreen;
}

.footer {
    min-height: 56px;
    width: 100%;
    background-color: cadetblue;
}
