.AnaMenu {
    min-height: 56px;
    width: 100%;
    background-color: lightskyblue;
}

.AnaTasiyici {
    height: 1000px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.mainContent {
    height: 500px;
    width: 800px;
    background-color: green;
    float: left;
}

.sideBar {
    height: 500px;
    width: 400px;
    background-color: mediumpurple;
    float: left;
}

.twin {
    height: 500px;
    width: 600px;
    background-color: darkorange;
    float: left;
}

.footer {
    min-height: 56px;
    width: 100%;
    background-color: darkblue;
}
