@model TechLib.Models.ModelView.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/CSS/ForgotPassword.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="120x104" href="~/Assets/Images/TechLibLogo.png" />
    <title>TechLib</title>
</head>
<body>
    <div class="MainContainer">
        <div class="ForgotPasswordContainer">
            <div class="ForgotPasswordHeader">
                Forgot Your Password?
            </div>

            <div class="ForgotPassword">
                @using (Html.BeginForm())
                {
                    if (ViewBag.ForgotMessage != null)
                    {
                        <div class="ErrorMessage">
                            @ViewBag.ForgotMessage
                        </div>
                    }

                    <div class="ForgotPasswordInput">
                        @Html.EditorFor(X => X.EMail, new { htmlAttributes = new { @class = "ForgotPasswordTextBox" } })
                        @Html.ValidationMessageFor(X => X.EMail, "", new { @class = "ForgotPasswordErroMessage" })
                    </div>

                    <div class="ForgotPasswordSubmitButtonContainer">
                        <input type="submit" value="Continue" class="ForgotPasswordSubmitButton" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
