body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Reklam*/
.Reklam {
    min-height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

/*TopHeader*/
.TopHeader {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.TopHeader a {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-right: 20px;
    text-decoration: none;
}

.TopHeader a:hover {
    color: #337AB7;
}

.TopHeader a:last-child {
    margin-right: 0;
}

/*Header*/
.Header {
    min-height: 52px; 
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.HeaderLogo {
    margin-right: 10%;
}

.HeaderArama {
    margin-right: 10%;
}

.HeaderAramaMetinKutu {
    background-color: #F5F5F5;
    padding: 12.5px 150px 12.5px 12.5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 24px;
    float: left;
    width: 300px;
    outline: none;
    border: 1px solid white;
    border-right: none;
}

.HeaderAramaButton {
    background-color: #F5F5F5;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 51px;
    float: left;
    border: 1px solid white;
    border-left: none;
    outline: none;
}

.HeaderAramaMetinKutufocus {
    background-color: #F5F5F5;
    padding: 12.5px 150px 12.5px 12.5px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 24px;
    float: left;
    width: 300px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    outline: none;
}

.HeaderAramaButtonfocus {
    background-color: #F5F5F5;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 51px;
    float: left;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    outline: none;
}

.HeaderUserShopContainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.HeaderGirisYap {
    min-height: 25px;
    width: 47.5%;
    padding: 10px 10px 10px 10px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-right: 5%;
}

.HeaderSepetimLogo,
.HeaderGirisYapLogo {
    width: 20%;
}

.HeaderSepetimYazi,
.HeaderGirisYapYazi {
    font-size: 14px;
    font-weight: bold;
}

.HeaderSepetim {
    min-height: 25px;
    width: 47.5%;
    padding: 10px 10px 10px 10px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

/*BottomHeader*/
.BottomHeader {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.BottomHeaderYaziContainer {
    min-height: 40px;
    width:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5%;
}

.BottomHeaderYazi {
    min-height: 40px;
    width: auto;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomHeaderYazi a {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.BottomHeaderYazi:hover {
    border-top: 2px solid #337AB7;
}

/*ReklamBüyük*/
.ReklamB {
    height:  auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ReklamBBottom {
    min-height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ReklamBBottomContent {
    margin-right: 2%;
    border-left: 0.5px solid silver;
    border-right: 0.5px solid silver;
}

.ReklamBBottomContent:hover {
    background-color: #F5F5F5;
}

.ReklamBBottomContent img {
    width: 50px;
}
