
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ekle</title>
</head>
<body>
    <div>
        <form action="~/Default/Ekle" method="post">
            <div>
                <label>İsim</label> <br />
                <input type="text" id="isim" name="isim" />
            </div>

            <div>
                <label>Fiyat</label> <br />
                <input type="text" id="fiyat" name="fiyat" />
            </div>

            <div>
                <button type="submit">Gönder</button>
            </div>
        </form>
    </div>
</body>
</html>
