*, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.anaTasiyici {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ustReklam {
    text-align: center;
}

    .ustReklam img {
        width: 970px;
    }

body {
    font-family: Calibri;
}

.ustMenu {
    padding-top: 9px;
}

    .ustMenu a {
        text-decoration: none;
        margin-left: 23px;
        float: right;
        color: #7b7b7b;
        font-size: 10pt;
        font-weight: 900;
    }

.header {
    margin-top: 25px;
}

.logoTasiyici {
    width: 260px;
    float: left;
}

    .logoTasiyici img {
        width: 191px;
    }

    .logoTasiyici label {
        margin-left: 60px;
        color: #7b7b7b;
        font-weight: 600;
    }

        .logoTasiyici label a {
            margin-left: 5px;
            color: #FF6000;
            text-decoration: none;
        }

            .logoTasiyici label a:hover {
                text-decoration: underline;
            }

.aramakutusu {
    float: left;
    width: 440px;
}

    .aramakutusu .metinkutusu {
        border: 2px solid #919191;
        padding: 13px;
        border-radius: 7px;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        font-size: 12pt;
        width: 350px;
        margin-top: 10px;
    }

        .aramakutusu .metinkutusu:focus {
            border: 2px solid #FF6000;
            outline: none;
        }

    .aramakutusu .araButton {
        border: 2px solid #919191;
        padding: 9.5px 10px 11.7px 10px;
        height: 46px;
        color: White;
        background-color: #919191;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        text-decoration: none;
        font-size: 14pt;
        margin-top: 20px;
        margin-bottom: -2px;
        margin-left: -7px
    }

.araButtonfocus {
    border: 2px solid #FF6000;
    background-color: #FF6000;
    padding: 9.5px 10px 11.7px 10px;
    color: White;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-decoration: none;
    font-size: 14pt;
    margin-left: -7px
}

.konumkutusu {
    width: 113px;
    padding: 10px;
    color: #919191;
    text-align: center;
    float: left;
}

    .konumkutusu img {
        width: 30px;
        float: left;
        margin-top: 5px;
    }

    .konumkutusu .konum {
        float: left;
        text-align: left;
    }

        .konumkutusu .konum .ust {
            font-weight: 900;
        }

        .konumkutusu .konum .alt {
            color: #FF6000;
        }

.girisSepetKutusu {
    padding-top: 10px;
}

    .girisSepetKutusu a img {
        width: 24px;
    }

    .girisSepetKutusu .kullanici {
        padding: 15px 30px;
        border: 2px solid #919191;
        border-radius: 10px;
        text-decoration: none;
        color: #919191;
    }

    .girisSepetKutusu .Sepet {
        padding: 15px 30px;
        border: 2px solid #919191;
        border-radius: 10px;
        margin-left: 15px;
        text-decoration: none;
        color: white;
        background-color: #919191;
    }

    .girisSepetKutusu .kullanici span {
        margin-left: 7px;
    }

    .girisSepetKutusu .Sepet span {
        margin-left: 7px;
    }

.gokkusagi {
    margin-top: 25px;
    height: 10px;
    width: 100%;
}

    .gokkusagi .bir {
        background-color: #FF7600;
        height: 10px;
        width: 40%;
        float: left;
    }

    .gokkusagi .iki {
        background-color: #49C7ED;
        height: 10px;
        width: 15%;
        float: left;
    }

    .gokkusagi .uc {
        background-color: #772308;
        height: 10px;
        width: 15%;
        float: left;
    }

    .gokkusagi .dort {
        background-color: #57B900;
        height: 10px;
        width: 15%;
        float: left;
    }

    .gokkusagi .bes {
        background-color: #5D196A;
        height: 10px;
        width: 15%;
        float: left;
    }

.kategoribg {
    background-color: #F5F5F5;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kategoriler {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 70px;
    margin-top: 50px;
}

    .kategoriler a {
        text-decoration: none;
        padding-left: 10px;
        color: #919191;
        font-weight: 900;
        font-size: 12pt;
        border-right: 1px solid #E5E5E5;
        padding-right: 10px;
        white-space: nowrap;
    }

        .kategoriler a:hover {
            color: #FF6000;
            border-color: #E5E5E5;
        }

        .kategoriler a:last-child {
            border-right: none;
            padding-right: 0;
        }
