body {
    font-family: Arial, Helvetica, sans-serif;
}

.MainCarrier {
    height: auto;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.Content {
    height: auto;
    width: 50%;
    float: left;
    text-align: left;
}

.Content h1 {
    font-size: 52px;
    color: #484848;
}

.Content h2 {
    font-size: 20px;
    color: #7B7B7B;
}

.Content h2:last-child {
    line-height: 1.5px;
}

.Image {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    float: left;
}

.HomeButton {
    margin-top: 50px;
    text-align: center;
}

.HomeButton h1 {
    font-size: 16px;
    text-decoration: none;
    color: #484848;
    margin-left: 10px;
    float: left;
    line-height: -2px;
}

.HomeButton h1:hover {
    text-decoration: underline;
}
