body {
    font-family: Arial, Helvetica, sans-serif;
}

.MainCarrier {
    height: auto;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.Content {
    height: auto;
    width: 50%;
    float: left;
    text-align: left;
}

.Image {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    float: left;
}
