*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.MainContainer {
    width: 1200px;
    border: 1px solid silver;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.TopBar {
    padding: 15px;
    border-bottom: 1px solid silver;
    color: dimgray
}

.MenuBar {
    padding: 15px;
    border-bottom: 1px solid silver;
    background-color: #C600FF;
}

.MenuBar a {
    padding: 5px 7px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 12px;
}

.MenuBar a:hover {
    text-decoration: underline;
}

.ContentContainer {
    padding: 15px;
}